RewriteEngine on

RewriteRule ^$ index.php?controller=Home [L]

RewriteRule ^Accueil$ index.php?controller=Home [L]
RewriteRule ^Infos$ index.php?controller=Infos [L]
RewriteRule ^Compositions$ index.php?controller=Compositions [L]
RewriteRule ^Contact$ index.php?controller=Contact [L]

ErrorDocument 404 /Rosalys/errors/404.html